
.homepage-view {
	min-height: 100vh;
	background: linear-gradient(180deg, #F5F9FF 0%, #F5F9FF 70%, #6B6B6B 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 40px;
}
